
res/values/.DS_Store

res/xml/.DS_Store

src/.DS_Store

src/com/.DS_Store

src/com/orca/.DS_Store

src/com/orca/settings/.DS_Store

res/drawable-xhdpi/.DS_Store

res/drawable-hdpi/.DS_Store

res/.DS_Store

.DS_Store

res/drawable-hdpi/ic_xy_settings_clock.png

res/drawable-hdpi/ic_xy_settings_general_ui.png

res/drawable-hdpi/ic_xy_settings_navigation_bar.png

res/drawable-hdpi/ic_xy_settings_general_ui.png

res/drawable-hdpi/ic_xy_settings_power_menu.png

res/drawable-hdpi/ic_xy_settings_quick_toggles.png

res/drawable-hdpi/ic_xy_settings_signal.png

res/drawable-hdpi/ic_xy_settings_statusbar.png

src/com/xylon/settings/ButtonBarHandler.java

src/com/xylon/settings/CreateShortcut.java

src/com/xylon/settings/DialogCreatable.java

src/com/xylon/settings/SettingsPreferenceFragment.java

src/com/xylon/settings/ShareToClipboard.java

src/com/xylon/settings/Utils.java

src/com/xylon/settings/XYSettingsActivity.java

src/com/xylon/settings/fragments/DensityChanger.java

src/com/xylon/settings/fragments/GeneralUI.java

src/com/xylon/settings/fragments/NavRingTargets.java

*.java
