
res/values/.DS_Store

res/xml/.DS_Store

src/.DS_Store

src/com/.DS_Store

src/com/orca/.DS_Store

src/com/orca/settings/.DS_Store

res/drawable-xhdpi/.DS_Store

res/drawable-hdpi/.DS_Store

res/.DS_Store

.DS_Store

res/drawable-hdpi/ic_xy_settings_clock.png
